<div id="MainMenu">
    <a class="list-group-item" href="@Url.Action("Index","Administracion")"><i class="fa fa-gear"></i> Administración</a>
    <a class="list-group-item" href="@Url.Action("Index","Reportes")"><i class="fa  fa-newspaper-o"></i> Reportes</a>
</div>


