@{
    ViewBag.Title = "Inicio";
}

<style type="text/css">
    .home {
        padding: 100px;
    }
</style>

<div class="">
    <div class="col-md-6 home">
        <h1 class="text-center">
            BIENVENIDO AL MÓDULO DE COCINA
        </h1>
        <h2 class="text-center">
            Seleccione una opción del Menú para empezar
        </h2>
    </div>
    <div class="col-md-6 home center">
        <a class="text-center">
            <img src="~/Images/home.jpg" style="width:85%" />
        </a>
    </div>
</div>
@{
    ViewBag.Title = "Inicio";
}

<style type="text/css">
    .home {
        padding: 100px;
    }
</style>

<div class="">
    <div class="col-md-6 home">
        <h1 class="text-center">
            BIENVENIDO AL MÓDULO DE COCINA
        </h1>
        <h2 class="text-center">
            Seleccione una opción del Menú para empezar
        </h2>
    </div>
    <div class="col-md-6 home center">
        <a class="text-center">
            <img src="~/Images/home.jpg" style="width:85%" />
        </a>
    </div>
</div>
